// vars
$inship-color-background: rgba(82, 218, 211, 0.7);
$inship-color-background-darker: rgba(46, 122, 117, 0.7);
$inship-color: rgba(70, 187, 181, 1);
$inship-color-background-light: rgba(70, 187, 181, 0.2);
$grey-light: #f3f3f3;
$shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
$APC-light: #ded4a2;
$APC-dark: #a67440;
$APC-bg: #14182f;
$CAPS-light: #5fb6d6;
$CAPS-dark: #576aa6;
$CAPS-bg: #222222;
$T2P-color: white;
$T2P-bg: #252941;

// setting init val
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  background: $inship-color-background-light;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin btn($text-color, $background-color, $shadow) {
  margin-top: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: $text-color;
  background-color: $background-color;
  padding: 1rem 3rem;
  @if ($shadow = 'light') {
    box-shadow: 1rem 1rem 2rem rgba(255, 255, 255, 0.2);
  } @else {
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  display: inline-block;
}

@mixin hover-scale {
  transform: scale(1.05);
}

@mixin click-affect($shadow) {
  transform: translateY(0.2rem);
  @if ($shadow = 'light') {
    box-shadow: 0 0.5rem 1rem rgba(225, 225, 225, 0.2);
  } @else {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}
